@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<BeerModel>

<div style="display: block">
    <a class='btn btn-primary btn-lg' href="Home/InsertBeer">Add new beer</a>
</div>
 <table class="table">
     <tr> 
         
         <th>Image</th>     
         <th>BeerName</th>
         <th>BreweryName</th>
         <th>Description</th>
     </tr>
 
@foreach (var beer in Model)
{
    <tr> 
        
            <td><img src="data:image/png;base64,@beer.Image" /></td>
        <td>@beer.Name</td>
        <td>@beer.BreweryName
        <td>@beer.Description</td>
    </tr>
    
}
</table>